body {
    background-color: black;
}

.poster {
    width: 50%;
    margin: 25%;
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

img {
    width: 100%;
    border: 5px solid white;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}